{% extends "bootstrap/base.html" %}

{% block head %}
{{super()}}
<link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.ico') }}">
{% endblock %}

{% block title %}{{ config.get('TITLE') }}{% endblock %}

{% block navbar %}
<div class="navbar">
<div class="navbar-header">
    <a class="navbar-brand" href="/">
    <img alt="Brand" src="{{ url_for('static', filename='pydaria.png') }}" width=65px height=65px>
    </a>
</div>
</div>
{% endblock %}

{% block content %}
<div class="container">
<h1>{{ config.get('TITLE') }}</h1>

<div class="jumbotron">
<ul class="list-group">
    {% for product in products %}
    <li class="list-group-item">
        <a href="{{ url_for('webui.productview', product_id=product.id) }}"> 
            {{ product.name }} - R${{ "%0.2f" | format(product.price)}}</a>
    </li>
    {% endfor %}
</ul>
</div>

</div>
{% endblock %}
